# ~/.config/systemd/user/rust-fastcgi.service

[Unit]
AssertPathExists=%h/rust-fastcgi/target/release/rust-fastcgi

[Service]
WorkingDirectory=%h/rust-fastcgi
ExecStart=%h/rust-fastcgi/target/release/rust-fastcgi
Restart=always
Environment=RUST_LOG=info
UMask=007

[Install]
WantedBy=default.target
